@import '~bootstrap/scss/bootstrap';

.image-box {
  // width: 20%;
  height: 175px;
  border: 2px solid #000000;
  padding: 5px;
}

.DraftEditor-root {
  height: 100px;
  border: 2px solid blue;
}

.image-like-box {
  width: 30px;
  height: 30px;
  margin: 5px 15px 2px;
}

.post-like-box {
  width: 30px;
  height: 30px;
  margin: 5px 15px 2px;
}

.comment-list {
  list-style: none;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 25px 15px;
  width: 50%
}

.float-container {
    position: absolute;
    width: 85%;
    // border: 2px solid pink;
}

.float-child {
    width: 40%;
    float: left;
    padding: 10px;
    border: 2px solid gray;
    display: block;
    margin-right: 20px;
}

.like-button {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.like-icon {
  width: 20px;
  height: 20px;
}

.for-sale-icon {
  width: 20px;
  height: 20px;
  font-size: 8px;
  margin-left: 5px;
}
